<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" name="E:/AllBackup/GitHub/PlaywrightJavaTutorial" parallel="classes">
        <classes>
            <class name="org.example.day2.TestLunchBrowser"/>
            <class name="org.example.day3.TestHandelDropdown"/>
            <class name="org.example.day3.TestHandelInputs"/>
            <class name="org.example.day4.TestTraceViewer"/>
        </classes>
    </test>
</suite>